body{
    background-color: rgb(185, 203, 203);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: auto;
    padding: 10px;
    font-size: 20px;
    margin: 0;
}

div{
    font-family: calibri;
    font-size: 10px;
}

.pic{
    background-image: "./images/IMG_8838.JPG";
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;

}

.card{
    padding: 15px;
    background-color: rgb(86, 104, 104);
    font-size: 20px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 8px solid;
    border-color: aqua;
}

.follow{
    margin-top: 10px;
    cursor: pointer;
    color: brown;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 9px;
    font-weight: bold;
    background-color: rgb(197, 197, 123);

}

.subject{
    border-radius: 5px;
    width: auto;
}